.delete-account{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0px;
    background-color: rgba(110, 108, 108, 0.856);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    @include flexStuff(center, column);
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        button{
            width: 70px;
            height: 30px;
        }
    }
}

@media(min-width: 800px){
    .delete-account{
        main{
            font-size: 40px;
        }
        section{
            width: 50vw;
            button{
                width: 100px;
                height: 60px;
            }
        }
    }
}