.editFields{
    .edit-input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95vw;
        
        input{
            width: 60%;
        }
    }
}