
.login{
    height: 60vh;
    width: 100vw;
    background-color: $backgroundColor;
    @include borderStyle();
    @include flexStuff(space-evenly, column);
    section{
        @include flexStuff(center, column); 
    }
}