
.login{
    height: 60vh;
    width: 100vw;
    background-color: $backgroundColor;
    @include borderStyle();
    @include flexStuff(space-evenly, column);
    font-weight: bold;
    input{
        width: 150%;
    }
    section{
        @include flexStuff(center, column); 
    }
    .login-buttons{
        width: 100vw;
        height: 20vh;
        @include flexStuff(space-evenly, column);
        button{
            width: 70px;
            height: 30px;
        }
    }
}

@media (min-width: 500px){
    .login{
        
        .user{
            @include flexStuff(space-evenly, row);
            width:100vw;
        }
        input{
            width: 70%;
        }
        .login-buttons{
            height: 30vh;
            .login-button {
                
                width: 140px;
                height: 60px;
            }
        }
    }
    
    
}

@media (min-width: 800px){
    .login{
        width: 60vw;
        .user{
            @include flexStuff(space-evenly, row);
            width:60vw;
        }
        input{
            width: 70%;
        }
        .login-buttons{
            height: 30vh;
            width: 40vw;
            @include flexStuff(space-around, row);
            .login-button {
                
                width: 140px;
                height: 60px;
            }
        }
    }
}