.mainView{
    @include flexStuff(center, column);
    width: 100vw;
    height: 100vh;
    .display{
        // @include flexStuff(flex-end, column); 
        box-sizing: border-box;
        height: 90vh;
        width: 98vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-y: scroll;
        margin-top: 40px;
    }
    
    .inputArea{
        @include flexStuff(center, row);
        button{
            border-radius: 20px;
        }
        input{
            width: 90%;
        }
    }
    
}