.command{
    height: 10%;
    // width: 100px;
    border: black 5px solid;
    border-radius: 20px;
    align-self: flex-end;
    display: flex;
    text-align: center;
    align-items: center;
}
.reply{
    height: 10%;
    // width: 100px;
    border: black 5px solid;
    border-radius: 20px;
    align-self: flex-start;
    display: flex;
    text-align: center;
    align-items: center;
}